.newsletter{
    height: 60vh;
    background-color: rgb(252, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    h3{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        color: gray;
    }
    .form{
        display: flex;
        align-items: center;
        width: 70%;
        margin: 20px auto;
        justify-content: center;
        input{
            width: 50%;
            padding: 10px 20px;
            border: 1px solid #ccc;
        }
        svg{
            padding: 7px 30px;
            background-color: teal;
            color: #fff;
            cursor: pointer;
        }
    }
}